<h1>Editar Usuario</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Mostrar datos", @user, class: "badge rounded-pill text-bg-primary" %> 
  <%= link_to "Volver a pagina principal", users_path, class: "badge rounded-pill text-bg-primary" %>
</div>
