<p style="color: green"><%= notice %></p>

<h1>Usuarios</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Ver mas....", user %>
    </p>
  <% end %>
</div>

