<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar datos", edit_user_path(@user), class: "badge rounded-pill text-bg-warning" %> 
  <%= button_to "Eliminar Registro", @user, method: :delete, class: "badge rounded-pill text-bg-primary mt-3" %>
</div>
